.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orangered;
  padding: 10px;
  color: white;
  /* width:100% */
}

/* li{
  list-style: none;
  text-decoration: none;
  color:white
} */

.link{
  text-decoration: none;
  color:white
}